body {
  font-family: Arial;
  background: white;
}
.nav {
  display: flex;
  padding: 15px;
  background: red;
  color: white;
}
.menu a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
}
.store {
  display: flex;
  justify-content: space-around;
  padding: 40px;
}
.left h1 {
  font-size: 30px;
}
.left button {
  background: blue;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
}
.right .box {
  width: 200px;
  height: 150px;
  background: lightgray;
}
.products {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.card {
  width: 200px;
  text-align: center;
}
.card img {
  width: 200px;
}
.card button {
  background: red;
  color: white;
  border: none;
  padding: 8px;
  margin-top: 5px;
}
.footer {
  background: blue;
  color: white;
  text-align: center;
  padding: 10px;
}
